/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
:root {
  
  --primary: #228B22;
  --primary-rgb: 34, 139, 34;
  --primary-rgb-format: 34 139 34;

  --primary-light: #32CD32;
  --primary-light-rgb: 50, 205, 50;
  --primary-light-rgb-format: 50 205 50;

  --primary-dark: #005000;
  --primary-dark-rgb: 0, 80, 0;
  --primary-dark-rgb-format: 0 80 0;


  --secondary: #000080;
  --secondary-rgb: 0, 0, 128;
  --secondary-rgb-format: 0 0 128;

  --secondary-light: #0000CD;
  --secondary-light-rgb: 0, 0, 205;
  --secondary-light-rgb-format: 0 0 205;

  --secondary-dark: #00003c;
  --secondary-dark-rgb: 0, 0, 60;
  --secondary-dark-rgb-format: 0 0 60;

  
  --dark: #111;
  --dark-rgb: 17, 17, 17;
  --dark-rgb-format: 17 17 17;

  --light: #ffffff;
  --light-rgb: 255, 255, 255;
  --light-rgb-format: 255 255 255;

  --font-primary: 'Courier Prime', Open Sans, sans-serif;
  --font-secondary: Open Sans, sans-serif;

  --transition: 0.15s ease-in;

  --border-radius: 0;
}
html, body {
  --font-color: var(--dark);
  --bg-color: var(--light);
}

/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--font-color);
  background: var(--bg-color);

  font-family: var(--font-secondary);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-primary);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
body {
  display: flex;
  flex-direction: column;
}
section {
  position: relative;
  padding: 4rem 0;
  background: var(--light);
}
a {
  text-decoration: none;
  color: var(--primary);
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
  color: var(--primary-dark);
}

/* -------------------------------------------------------------------------- */
/*                                   H Tags                                   */
/* -------------------------------------------------------------------------- */
h1, .h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}
h2, .h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}
h3, .h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}
h4, .h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}
h5, .h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
h6, .h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

/* -------------------------------------------------------------------------- */
/*                                  Container                                 */
/* -------------------------------------------------------------------------- */
:root {
  --container-w-xs: 100%;
  --container-w-sm: 540px;
  --container-w-md: 720px;
  --container-w-lg: 960px;
  --container-w-xl: 1140px;
  --container-w-xxl: 1320px;

  --container-w: var(--container-w-xs);
}
@media(min-width: 540px) {
  :root {
    --container-w: var(--container-w-sm);
  }
}
@media(min-width: 720px) {
  :root {
    --container-w: var(--container-w-md);
  }
}
@media(min-width: 960px) {
  :root {
    --container-w: var(--container-w-lg);
  }
}
@media(min-width: 1140px) {
  :root {
    --container-w: var(--container-w-xl);
  }
}
@media(min-width: 1320px) {
  :root {
    --container-w: var(--container-w-xxl);
  }
}

/* -------------------------------------------------------------------------- */
/*                                Nav Variables                               */
/* -------------------------------------------------------------------------- */
:root {
  --nav-width: var(--container-w);
  --nav-mobile-width: 93%;

  --nav-logo-desktop-width: 15rem;
  --nav-logo-desktop-scrolled-width: 12rem;
  --nav-logo-mobile-width: 7rem;

  --nav-logo-desktop-offset: 0rem;
  --nav-logo-desktop-scrolled-offset: 0rem;
  --nav-logo-mobile-offset: 0rem;

  --nav-desktop-height: 5rem;
  --nav-scrolled-height: 3rem;
  --nav-mobile-height: 4rem;


  --nav-desktop-font-size: 1rem;
  --nav-desktop-scrolled-font-size: 1rem;
  --nav-dropdown-font-size: 1rem;
  --nav-mobile-font-size: 1.4rem;
  --nav-mobile-trigger-open-font-size: 1.4rem;
  --nav-mobile-trigger-close-font-size: 1.4rem;

  --nav-desktop-page-padding: 2rem;
  --nav-desktop-scrolled-page-padding: 1.5rem;

  --nav-text-color: var(--dark);
  --nav-dropdown-text-color: var(--dark);
  --nav-mobile-text-color: var(--dark);
  --nav-hover-text-color: var(--light);
  --nav-hover-dropdown-text-color: var(--light);
  --nav-hover-effect-color: var(--primary);
  --nav-hover-dropdown-effect-color: var(--primary);

  --nav-mobile-border-color: rgb(var(--primary-rgb-format) / 0.5);
}

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
/* ----- Googles Courier Prime Font From /fonts/Courier_Prime Directory ----- */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Courier_Prime/CourierPrime-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Courier_Prime/CourierPrime-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Courier_Prime/CourierPrime-BoldItalic.ttf') format('truetype');
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

.btn {
  border-radius: var(--border-radius);
  padding: 0.5rem 1.25rem;
}

.btn-block {
  width: 100%;
}

.btn.btn-primary, .btn-primary:focus, .btn.btn-primary:active {
  background: var(--primary);
  color: var(--light);
  border: 1px solid var(--primary);
}
.btn-primary:hover, .btn-primary:focus-visible {
  background: var(--primary);
  box-shadow: 0 0 0 0.2rem rgb(var(--primary-rgb-format) / 0.5);
  border: 1px solid var(--primary);
}
.btn-outline-primary, .btn-outline-primary:focus, .btn.btn-outline-primary:active {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover, .btn-outline-primary:focus-visible {
  background: var(--primary);
  color: var(--light);
  box-shadow: 0 0 0 0.2rem rgb(var(--primary-rgb-format) / 0.5);
  border: 1px solid var(--primary);
}

.btn-secondary, .btn-secondary:focus, .btn.btn-secondary:active {
  background: var(--secondary);
  color: var(--light);
  border: 1px solid var(--secondary);
}
.btn-secondary:hover, .btn-secondary:focus-visible {
  background: var(--secondary);
  box-shadow: 0 0 0 0.2rem rgb(var(--secondary-rgb-format) / 0.5);
  border: 1px solid var(--secondary);
}
.btn-outline-secondary, .btn-outline-secondary:focus, .btn.btn-outline-secondary:active {
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus-visible {
  background: var(--secondary);
  color: var(--light);
  box-shadow: 0 0 0 0.2rem rgb(var(--secondary-rgb-format) / 0.5);
  border: 1px solid var(--secondary);
}

.btn-light, .btn-light:focus, .btn.btn-light:active {
  background: var(--light);
  color: var(--dark);
  border: 1px solid var(--light);
}
.btn-light:hover, .btn-light:focus-visible {
  background: var(--light);
  box-shadow: 0 0 0 0.2rem rgb(var(--light-rgb-format) / 0.5);
  border: 1px solid var(--light);
}
.btn-outline-light, .btn-outline-light:focus, .btn.btn-outline-light:active {
  background: transparent;
  color: var(--light);
  border: 1px solid var(--light);
}
.btn-outline-light:hover, .btn-outline-light:focus-visible {
  background: var(--light);
  color: var(--dark);
  box-shadow: 0 0 0 0.2rem rgb(var(--light-rgb-format) / 0.5);
  border: 1px solid var(--light);
}

.btn-dark, .btn-dark:focus, .btn.btn-dark:active {
  background: var(--dark);
  color: var(--light);
  border: 1px solid var(--dark);
}
.btn-dark:hover, .btn-dark:focus-visible {
  background: var(--dark);
  box-shadow: 0 0 0 0.2rem rgb(var(--dark-rgb-format) / 0.5);
  border: 1px solid var(--dark);
}
.btn-outline-dark, .btn-outline-dark:focus, .btn.btn-outline-dark:active {
  background: transparent;
  color: var(--dark);
  border: 1px solid var(--dark);
}
.btn-outline-dark:hover, .btn-outline-dark:focus-visible {
  background: var(--dark);
  color: var(--light);
  box-shadow: 0 0 0 0.2rem rgb(var(--dark-rgb-format) / 0.5);
  border: 1px solid var(--dark);
}

/* -------------------------------------------------------------------------- */
/*                                    Text                                    */
/* -------------------------------------------------------------------------- */
.text-primary {
  color: var(--primary) !important;
}
.text-primary-dark {
  color: var(--primary-dark) !important;
}
.text-primary-light {
  color: var(--primary-light) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-secondary-dark {
  color: var(--secondary-dark) !important;
}
.text-secondary-light {
  color: var(--secondary-light) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.hover-primary, .hover-secondary, .hover-light .hover-dark {
  transition: color var(--transition);
}
.hover-primary:hover {
  color: var(--primary) !important;
}
.hover-secondary:hover {
  color: var(--secondary) !important;
}
.hover-light:hover {
  color: var(--light) !important;
}
.hover-dark:hover {
  color: var(--dark) !important;
}

/* -------------------------------------------------------------------------- */
/*                                 Background                                 */
/* -------------------------------------------------------------------------- */
.bg-primary {
  background: var(--primary) !important;
}
.bg-primary-dark {
  background: var(--primary-dark) !important;
}
.bg-primary-light {
  background: var(--primary-light) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-secondary-dark {
  background: var(--secondary-dark) !important;
}
.bg-secondary-light {
  background: var(--secondary-light) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-primary-to-secondary {
  background: linear-gradient(to right, var(--primary), var(--secondary)) !important;
}
.bg-secondary-to-primary {
  background: linear-gradient(to right, var(--secondary), var(--primary)) !important;
}
.bg-primary-gradient-dark {
  background: linear-gradient(to right, var(--primary), var(--primary-dark)) !important;
}
.bg-primary-gradient-light {
  background: linear-gradient(to right, var(--primary), var(--primary-light)) !important;
}
.bg-secondary-gradient-dark {
  background: linear-gradient(to right, var(--secondary), var(--secondary-dark)) !important;
}
.bg-secondary-gradient-light {
  background: linear-gradient(to right, var(--secondary), var(--secondary-light)) !important;
}

/* -------------------------------------------------------------------------- */
/*                                   Section                                  */
/* -------------------------------------------------------------------------- */
main section:first-of-type {
  padding-top: calc(var(--nav-mobile-height) + 4rem);
}
@media(min-width: 992px) {
  main section:first-of-type {
    padding-top: calc(var(--nav-desktop-height) + 4rem);
  }
}

/* -------------------------------------------------------------------------- */
/*                                     HR                                     */
/* -------------------------------------------------------------------------- */
hr {
  border-top: 3px solid var(--light);
  opacity: 1
}
hr.primary {
  border-color: var(--primary);
}
hr.primary-dark {
  border-color: var(--primary-dark);
}
hr.primary-light {
  border-color: var(--primary-light);
}
hr.secondary {
  border-color: var(--secondary);
}
hr.secondary-dark {
  border-color: var(--secondary-dark);
}
hr.secondary-light {
  border-color: var(--secondary-light);
}
hr.light {
  border-color: var(--light);
}
hr.dark {
  border-color: var(--dark);
}
hr.thin {
  border-top-width: 1px;
  opacity: 0.25;
}

/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */
.modal .modal-dialog .modal-content {
  border-radius: var(--border-radius);
}

/* -------------------------------------------------------------------------- */
/*                                   Images                                   */
/* -------------------------------------------------------------------------- */
.bg-img-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: var(--bg-img-min-h, 300px);
}
.bg-img-wrapper .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--bg-img-position, center);
  top: 0;
  left: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 Box Shadow                                 */
/* -------------------------------------------------------------------------- */
.box-shadow {
  box-shadow: 0 0 1rem rgb(var(--dark-rgb-format) / 0.25);
}
.box-shadow-hover:hover {
  box-shadow: 0 0 1rem rgb(var(--dark-rgb-format) / 0.5);
}
/* -------------------------------------------------------------------------- */
/*                                Border Radius                               */
/* -------------------------------------------------------------------------- */
.border-radius {
  border-radius: var(--border-radius);
}
a > i.fa-chevron-right {
  font-size: 75%;
}

/* -------------------------------------------------------------------------- */
/*                              Horizontal Scroll                             */
/* -------------------------------------------------------------------------- */
.horizontal-scroll, .horizontal-scroll-mobile {
  --horizontal-scroll-offset: 0px;
}

/* Overlay on sides */
.horizontal-scroll .scroll-overlay:before,
.horizontal-scroll .scroll-overlay:after {
  content: '';
  height: 100%;
  width: 20px;
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  background: #fff;
  opacity: 0.8;
}
.horizontal-scroll .scroll-overlay:before {
  left: 0px;
}
.horizontal-scroll .scroll-overlay:after {
  right: 0px;
}

@media (min-width: 992px) {
  .horizontal-scroll .scroll-overlay:before,
  .horizontal-scroll .scroll-overlay:after {
    width: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
  }
}

/* Overflow */
.horizontal-scroll .overflow {
  flex-wrap: nowrap;
  overflow-x: scroll;
}
@media (min-width: 768px) {
  .horizontal-scroll .overflow {
    padding-left: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
    padding-right: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
  }
}
.horizontal-scroll .overflow:hover {
  cursor: default;
}

/* Scroll bar */
.horizontal-scroll .overflow:not(.hide-scrollbar)::-webkit-scrollbar {
  display: block;
  height: 4px;
  transition: transform 0.3s ease;
}

.horizontal-scroll .overflow:not(.hide-scrollbar)::-webkit-scrollbar-thumb {
  background-color: #707272;
}
.horizontal-scroll .overflow:not(.hide-scrollbar)::-webkit-scrollbar-track-piece {
  background-color: rgba(112, 114, 114, 0.5);
}

/* Scroll Bar Colors */
.horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #fff;
}
.horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-light::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.5);
}
.horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
.horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-primary::-webkit-scrollbar-track-piece {
  background-color: rgb(var(--primary-rgb-format) / 0.5);
}
.horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-secondary::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
.horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-secondary::-webkit-scrollbar-track-piece {
  background-color: rgb(var(--secondary-rgb-format) / 0.5);
}

.horizontal-scroll .overflow::-webkit-scrollbar-track-piece:start
{
	margin-left: 20px;
}
.horizontal-scroll .overflow::-webkit-scrollbar-track-piece:end
{
	margin-right: 20px;
}
@media(min-width: 992px) {
  .horizontal-scroll .overflow::-webkit-scrollbar-track-piece:start
	{
		margin-left: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
	}
	.horizontal-scroll .overflow::-webkit-scrollbar-track-piece:end
	{
		margin-right: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
	}
}

/* Horizontal Scroll on Mobile Only */
@media (max-width: 991px) {
  /* Container fluid styles so we can keep normal container for lg */
  .horizontal-scroll-mobile {
    width: 100% !important;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: unset !important;
  }
  /* Overlay on sides */
  .horizontal-scroll-mobile .scroll-overlay:before,
  .horizontal-scroll .scroll-overlay:after {
    content: '';
    height: 100%;
    width: 20px;
    position: absolute;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    background: #fff;
    opacity: 0.8;
  }
  .horizontal-scroll-mobile .scroll-overlay:before {
    left: 0px;
  }
  .horizontal-scroll-mobile .scroll-overlay:after {
    right: 0px;
  }
  /* Overflow */
  .horizontal-scroll-mobile .overflow {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 20px;
    padding-right: 20px;
  }
  .horizontal-scroll-mobile .overflow {
    padding-left: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
    padding-right: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset));
  }
  .horizontal-scroll-mobile .overflow:hover {
    cursor: default;
  }

  /* Scroll bar */
  .horizontal-scroll-mobile .overflow:not(.hide-scrollbar)::-webkit-scrollbar {
    display: block;
    height: 4px;
    transition: transform 0.3s ease;
  }

  .horizontal-scroll-mobile .overflow:not(.hide-scrollbar)::-webkit-scrollbar-thumb {
    background-color: #707272;
  }
  .horizontal-scroll-mobile .overflow:not(.hide-scrollbar)::-webkit-scrollbar-track-piece {
    background-color: rgba(112, 114, 114, 0.5);
  }

  .horizontal-scroll-mobile .overflow:not(.hide-scrollbar).scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
  .horizontal-scroll-mobile .overflow:not(.hide-scrollbar).scrollbar-light::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-primary::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }
  .horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-primary::-webkit-scrollbar-track-piece {
    background-color: rgb(var(--primary-rgb-format) / 0.5);
  }
  .horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-secondary::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
  }
  .horizontal-scroll .overflow:not(.hide-scrollbar).scrollbar-secondary::-webkit-scrollbar-track-piece {
    background-color: rgb(var(--secondary-rgb-format) / 0.5);
  }

  .horizontal-scroll-mobile .overflow::-webkit-scrollbar-track-piece:start {
    margin-left: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset) + (var(--bs-gutter-x) / 2));
  }
  .horizontal-scroll-mobile .overflow::-webkit-scrollbar-track-piece:end {
    margin-right: calc((100vw - var(--container-w)) / 2 + var(--horizontal-scroll-offset) + (var(--bs-gutter-x) / 2));
  }
}

@media (max-width: 768px) {
  .horizontal-scroll-mobile {
    --horizontal-scroll-offset: 0;
  }
  .horizontal-scroll-mobile .overflow {
    padding-left: 10px;
    padding-right: 10px;
  }

  .horizontal-scroll-mobile .scroll-overlay:before,
  .horizontal-scroll-mobile .scroll-overlay:after {
    width: 10px;
  }

  .horizontal-scroll-mobile .overflow::-webkit-scrollbar-track-piece:start {
    margin-left: calc(10px + var(--bs-gutter-x) / 2);
  }
  .horizontal-scroll-mobile .overflow::-webkit-scrollbar-track-piece:end {
    margin-right: calc(10px + var(--bs-gutter-x) / 2);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   LR Sect                                  */
/* -------------------------------------------------------------------------- */
.lr-sect
{
	display: flex;
	flex-direction: column;
}

.lr-sect > div {
	width: 100%;
	display: flex;
	position: relative;
}

.lr-sect > div.left,
.lr-sect > div.right {
	justify-content: center;
}

.lr-sect div.lr-overlay {
	background-color: #00000085;
	width: 100%;
}

.lr-sect div.lr-container {
	width: var(--container-w-xs);
	padding: 75px 15px;
}

  @media (min-width: 576px) {
    .lr-sect div.lr-container {
      width: var(--container-w-sm);
    }
  }

  @media (min-width: 768px) {
    .lr-sect div.lr-container {
      width: var(--container-w-md);
    }
  }

@media (min-width: 992px) {

	.lr-sect {
		flex-direction: row;
	}

	.lr-sect > div {
		width: 50%;
		padding: 0px;
	}
	

	.lr-sect div.lr-container {
		width: var(--container-w-lg);
		padding: 75px 15px;
	}

	section .lr-sect div.lr-container {
		width: var(--container-w-lg) / 2;
	}

	.lr-sect > div.left {
		justify-content: flex-end;
	}

	.lr-sect > div.right {
		justify-content: flex-start;
	}
}

@media (min-width: 1200px) {
	.lr-sect div.lr-container {
		width: var(--container-w-xl);
	}

	section .lr-sect div.lr-container {
		width: var(--container-w-xl) / 2;
	}
}

/* Top Section */
main .lr-sect:first-of-type
{
	padding-top: 0;
}
main .lr-sect:first-of-type .right .lr-container {
	padding-top: 0px;
}

main .lr-sect:first-of-type .lr-container
{
	padding-top: calc(var(--nav-mobile-height) + 4.6875rem);
}
@media (min-width: 992px)
{
	main .lr-sect:first-of-type .lr-container, main .lr-sect:first-of-type .right .lr-container
	{
		padding-top: calc(var(--nav-desktop-height) + 4.6875rem);
	}
}

/* Other options */

/* Contain to align with other containers on page */
@media (min-width: 992px) {
	.lr-sect .left.contain
	{
		padding-left: calc((100vw - var(--container-w)) / 2);
	}
	.lr-sect .left.contain .lr-container
	{
		padding-left: 0px;
	}

	.lr-sect .right.contain
	{
		padding-right: calc((100vw - var(--container-w)) / 2);
	}
	.lr-sect .right.contain .lr-container
	{
		padding-right: 0px;
	}
}

.lr-sect .contain {
	max-width: unset !important;
	margin: unset !important;
}

@media(max-width: 991px) {
	.lr-sect-card-wrapper-mobile .left.lr-sect-card-side, .lr-sect-card-wrapper-mobile .right.lr-sect-card-side {
		order: 2;
	}
	.lr-sect-card-wrapper-mobile .left:not(.lr-sect-card-side), .lr-sect-card-wrapper-mobile .right:not(.lr-sect-card-side) {
		order: 1;
	}
	
	.lr-sect-card-wrapper-mobile {
		padding-bottom: 1rem !important;
	}
	
	.lr-sect.lr-sect-card-wrapper-mobile .lr-sect-card-side.contain {
		margin: auto !important;
	}
	
	.lr-sect-card-wrapper-mobile .lr-sect-card-side {
		width: calc(var(--container-w) - 1.5rem) !important;
		
		border-radius: var(--border-radius);
		
		position: relative;
		top: -30px;
		margin-bottom: -30px !important;
		z-index: 1;
	}
	
	.lr-sect-card-wrapper-mobile .lr-sect-card-side .lr-sect-card {
		
		padding-left: 1rem;
		padding-right: 1rem;
		
		padding-top: 28px !important;
		padding-bottom: 33px;
		
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
		border-radius: var(--border-radius);

    height: unset !important;
	}
}

