.skills_badges_1 {
	.col {
		&:before, &:after {
			content: '';
			height: 100%;
			width: 40px;
			position: absolute;
			z-index: 2;
			top: 0px;
			bottom: 0px;
		}

		&:before {
			left: 0px;
			background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		}
		&:after {
			right: 0px;
			background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		}
	}

	ul {
		li {
			padding: 0px 30px;

			img {
				width: 150px;
			}
		}
	}
}
