.subnav_card_1 .page_card {
	border-radius: var(--border-radius);
  display: block;
}

.subnav_card_1 .page_card .img {
	width: 100%;
	aspect-ratio: 1.8;
	object-fit: cover;
	object-position: center;
	
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}


.subnav_card_1 .page_card .details {
	display: flex;
	gap: 0.5rem;
	padding: 0.8rem;
	align-items: center;
}
.subnav_card_1 .page_card .details, .subnav_card_1 .page_card .details * {
  font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 700;
  margin-bottom: 0;
	
	color: var(--primary);
  transition: color var(--transition);
}

.subnav_card_1 .page_card .details i {
  font-size: 75%;
  padding-bottom: 4px;
}

.subnav_card_1 .page_card:hover .details, .subnav_card_1 .page_card:hover .details * {
	color: var(--primary-dark);
}

@media(min-width: 992px) {
	.subnav_card_1 .page-box .details {
		font-size: 1.4375rem;
		padding: 1rem;
	}
}