header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
  font-size: 1rem;

  --nav-height: var(--nav-mobile-height);
  --nav-logo-width: var(--nav-logo-mobile-width);
  --nav-logo-offset: var(--nav-logo-mobile-offset);
  --nav-font-size: var(--nav-mobile-font-size);

  transition: all var(--transition);

  @media(min-width: 992px) {
    --nav-height: var(--nav-desktop-height);
    --nav-logo-width: var(--nav-logo-desktop-width);
    --nav-logo-offset: var(--nav-logo-desktop-offset);
    --nav-font-size: var(--nav-desktop-font-size);

    &.scrolled {
      --nav-height: var(--nav-scrolled-height);
      --nav-logo-width: var(--nav-logo-desktop-scrolled-width);
      --nav-logo-offset: var(--nav-logo-desktop-scrolled-offset);
      --nav-font-size: var(--nav-desktop-scrolled-font-size);
    }
  }

  &.open, &.scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav_container {
    max-width: unset;

    @media(min-width: 992px) {
      max-width: var(--nav-width);
    }

    .main_nav {
      justify-content: flex-start;
      width: 100%;
      display: flex;
      align-items: center;

      @media(min-width: 992px) {
        position: relative;
      }

      .logo {
        display: flex;
        align-items: center;
        width: var(--nav-logo-width);
        margin-bottom: var(--nav-logo-offset);
        transition: all var(--transition);
        position: relative;

        @media(min-width: 992px) {
          left: 0;
        }

        a {
          position: absolute;
          width: 100%;
        }
      }

      .items {
        transition: all var(--transition);
        height: var(--nav-height);
        flex-grow: 1;
        justify-content: flex-end;
        display: flex;

        @media(min-width: 992px) {
          justify-content: flex-end;
        }

        .nav {
          display: flex;

          position: fixed;
          left: 0vw;
          top: var(--top-bar, 0px);
          transition: var(--transition);
          overflow-y: hidden;
          display: flex;
          justify-content: center;
          width: 100vw;
          height: 0vh;
          background: var(--nav-mobile-dropdown-color);

          @media(min-width: 992px) {
            padding: 0px 20px;

            position: relative;
            width: unset;
            height: unset;
            left: unset;
            overflow-y: unset;
            background: none;
            transition: unset;
            top: 0px;
          }

          @media(max-width: 991px) {
            --mobile-nav-height: 0 !important;
            --mobile-nav-top: 0 !important;
            overflow-y: scroll;
            height: var(--mobile-nav-height);
            top: var(--mobile-nav-top);

            background: rgb(var(--tertiary-rgb-format) / 0.9);
          }

          ul {
            padding: 0px;
            list-style: none;
            margin: 0 20px;
            li {
              position: relative;

              > a {
                color: var(--nav-mobile-text-color);
                text-transform: var(--nav-letter-case);
                font-family: var(--font-primary);
                text-decoration: none;
                line-height: 1;
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
              }
            }

            @media(min-width: 992px) {
              margin: 0px;
              padding: 0px;

              li {
                > a {
                  padding: 0 var(--nav-desktop-page-padding);
                  transition: padding var(--transition);

                  &:hover, &.over {
                    color: var(--nav-hover-dropdown-text-color);
                    background-color: var(--nav-hover-dropdown-effect-color);
                  }
                }
              }
            }
          }

          .level_1 {
            position: absolute;
            top: 0;
            transition: all var(--transition);
            width: var(--nav-mobile-width);

            > li {
              > a {
                width: 100%;
                font-size: var(--nav-font-size);

                @media(max-width: 991px) {
                  padding-left: 0;
                  padding-right: 0;
                }

                &:hover, &.over {
                  background-color: var(--nav-hover-effect-color);
                  color: var(--nav-hover-text-color);
                  transition: var(--transition);
                }
              }
            }

            @media(min-width: 992px) {
              height: var(--nav-height);
              width: unset;
              display: flex;
              flex-direction: row;
              align-items: center;
              position: relative;

              top: 0px;

              > li {
                border: unset;

                > a {
                  color: var(--nav-text-color);
                  font-size: var(--nav-font-size);
                  transition: var(--transition);

                  &:hover, &.over {
                    color: var(--nav-hover-text-color);
                    background-color: var(--nav-hover-effect-color);
                    transition: var(--transition);
                  }
                }
              }
              > li, > li > a {
                height: 100%;
                display: flex;
                align-items: center;
              }
            }

            @media(max-width: 991px) {
              > li:not(:last-child) > a {
                border-bottom: 1px solid var(--nav-mobile-border-color);
              }
            }
          }
        }

        .item_append {
          display: flex;
          align-items: center;
          position: absolute;
          right: calc(var(--nav-height) - 20px);
          height: var(--nav-height);
          transition: height var(--transition);

          a {
            max-height: 100%;

            padding: 0.25rem 0.75rem;

            &:not(:last-child) {
              margin-right: 0.2rem;
            }
          }

          @media(min-width: 992px) {
            position: relative;
            right: unset;

            a {
              border-radius: var(--border-radius);
              padding: 0.5rem 1.25rem;

              &:not(:last-child) {
                margin-right: 0.8rem;
              }
            }
          }
        }

        .mobile_nav_trigger {
          position: absolute;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--nav-height);
          width: calc(var(--nav-height) - 20px);

          i {
            position: absolute;
            transition: var(--transition);
          }

          .close_icon {
            opacity: 0;
            font-size: var(--nav-mobile-trigger-close-font-size);
            color: var(--nav-mobile-trigger-close-color);
          }

          .open_icon {
            opacity: 1;
            font-size: var(--nav-mobile-trigger-open-font-size);
            color: var(--nav-mobile-trigger-open-color);
          }

          &.open .close_icon {
            opacity: 1;
          }

          &.open .open_icon {
            opacity: 0;
          }

          @media(min-width: 992px) {
            display: none;
          }
        }
      }
    }
  }

  @media(max-width: 991px) {
    &.open {
      .nav_container {
        .main_nav {
          .items {

            .nav {
              --mobile-nav-height: calc(100vh - var(--nav-height)) !important;
              --mobile-nav-top: var(--nav-height) !important;
            }

            .mobile_nav_trigger {
              .close_icon {
                opacity: 1;
              }
              .open_icon {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}

html:has(header.header.open) {
  overflow: hidden;
}
