.mywork_card_1 {
	.item_card {
		border-radius: var(--border-radius);
		display: block;

		.img {
			width: 100%;
			aspect-ratio: 2;
			object-fit: cover;
			object-position: center;
			
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		.details {
			display: flex;
			gap: 0.5rem;
			padding: 0.8rem;
			align-items: center;

			justify-content: center;

			background-color: var(--secondary-dark);

			@media(min-width: 992px) {
				font-size: 1.4375rem;
				padding: 1rem;
			}
		}
		.details, .details * {
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 0;
			
			color: var(--light);
			transition: color var(--transition);
		}

		&:hover .details, &:hover .details * {
			color: var(--primary);
		}
	}
}